<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="box">
            <mat-card class="card-issues">
                <div *ngIf="loading; else elseBlock">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <ng-template #elseBlock>
                    <div *ngIf="error !== ''; else elseBlock2">
                        <strong>{{error}}</strong>
                    </div>
                    <ng-template #elseBlock2>
                        <mat-card-title>Issues · angular/angular</mat-card-title>
                        <mat-card-content>
                            <mat-list>
                                <mat-list-item *ngFor="let issue of issues">
                                    <mat-icon mat-list-icon color="warn">bug_report</mat-icon>
                                    <h2 class="issue-title" mat-line>
                                        {{issue.title}}
                                    </h2>
                                    <p mat-line>
                                        #{{issue.number}}
                                        {{issue.created_at | date:'short'}}
                                        <a [href]="issue.user.html_url" target="_blank">
                                            by {{issue.user.login}}
                                        </a>
                                    </p>
                                    <button [routerLink]="['issues', issue.number]" mat-icon-button color="primary">
                                        <mat-icon>launch</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button (click)="prevPage()" [disabled]="issuePage <= 1"><mat-icon>navigate_before</mat-icon></button>
                            <strong>Page: {{issuePage}}</strong>
                            <button mat-icon-button (click)="nextPage()"><mat-icon>navigate_next</mat-icon></button>
                        </mat-card-actions>
                    </ng-template>
                </ng-template>
            </mat-card>
        </div>
    </div>
</div>