<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="box">
      <mat-card>
        <div *ngIf="loading; else elseBlock">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <ng-template #elseBlock>
          <div *ngIf="error !== ''; else elseBlock2">
            <mat-card-content>
              <strong>{{error}}</strong>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/" mat-button>Back Home</a>
            </mat-card-actions>
          </div>
          <ng-template #elseBlock2>
            <mat-card-header>
              <div mat-card-avatar class="header-image"
                [ngStyle]="{'background-image': 'url('+ issue.user.avatar_url +')'}"></div>
              <mat-card-title>{{issue.title}}</mat-card-title>
              <mat-card-subtitle>{{issue.user.login}} ✏️ Edited · {{issue.updated_at | date:'short'}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p [innerText]="issue.body">
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="backClicked()" mat-button>Back</button>
            </mat-card-actions>
          </ng-template>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div>